<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TCL</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Areas/Admin/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/css/sb-admin.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/css/style.css" rel="stylesheet" />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("TCL", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Thông tin khách hàng", "Index", "Home")</li>
                    <li>@Html.ActionLink("Sms", "Index", "Brandname")</li>
                    <li>@Html.ActionLink("Mã dự thưởng", "Index", "Maduthuong")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Areas/Admin/Content/js/jquery-1.10.2.js"></script>
    <script src="~/Areas/Admin/Content/js/bootstrap.min.js"></script>
    <script src="~/Areas/Admin/Content/js/plugins/metisMenu/jquery.metisMenu.js"></script>

    <script src="~/Areas/Admin/Content/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="~/Areas/Admin/Content/js/plugins/dataTables/dataTables.bootstrap.js"></script>

    <script src="~/Areas/Admin/Content/js/sb-admin.js"></script>


    <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable({
                "lengthMenu": [[10, 20, 30, 50, 100, -1], [10, 20, 30, 50, 100, "All"]]
            });
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
