@model SALE_PRODUCT.Models.ProductModel
@{
    ViewBag.Title = "Sản phẩm";
}

<h2 class="text-center">Sản phẩm</h2>
<hr />

<div class="product">
    <div class="row">
        <div class="col-md-3">
            <div class="lsd-menu">
                <h3>DANH MỤC SẢN PHẨM</h3>
                <ul>
                    @foreach (var item in Model.Cate)
                    {
                        <li>
                            <a href="/san-pham?textcate=@item.ID" title="@item.Title">
                                @item.Title
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="rsd-prod">
                <div class="row">
                    @foreach (var item in Model.Products)
                    {
                        <div class="col-md-3 col-lg-3 col-xs-4 col-sm-4">
                            <a href="/san-pham/@item.Alt" title="@item.Title">
                                <div class="p-item">
                                    <img src="@item.Thumnail" alt="@item.Alt" class="img-responsive" />
                                    <div class="i-content">
                                        <p class="name">@item.Title</p>
                                        <p class="price"><span class="gach">@string.Format("{0:#,##0}", item.Price) đ</span> <span class="chot">@string.Format("{0:#,##0}", item.Discount) đ</span></p>
                                    </div>
                                    @if (item.Sale > 0)
                                    {
                                        <div class="i-discount">
                                            <div class="i-dis-bg text-center">
                                                <span class="percent">@item.Sale%</span><br />
                                                <span class="wl8hrl">GIẢM</span>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </a>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
